# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [3]:
c.execute('''select firstName, lastName from employees''').fetchall()

[('Diane', 'Murphy'),
 ('Mary', 'Patterson'),
 ('Jeff', 'Firrelli'),
 ('William', 'Patterson'),
 ('Gerard', 'Bondur'),
 ('Anthony', 'Bow'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Tom', 'King'),
 ('Mami', 'Nishi'),
 ('Yoshimi', 'Kato'),
 ('Martin', 'Gerard')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [4]:
c.execute('''select employees.officeCode, count(employees.officeCode) from employees join offices on offices.officeCode group by employees.officeCode''').fetchall()

[('1', 42), ('2', 14), ('3', 14), ('4', 35), ('5', 14), ('6', 28), ('7', 14)]

In [5]:
cur.execute("""select * from orderdetails
                        join products
                        on orderdetails.productCode = products.productCode
                        limit 10;
                       """)

NameError: name 'cur' is not defined

## Write 3 Questions of your own and answer them

In [ ]:
#in what cities are the most customers canceling their orders...top 5

In [19]:
c.execute('''select status, city, count(city) 
            from orders 
            join customers 
            where status="Cancelled" 
            group by city 
            order by count(city) 
            desc limit 5''').fetchall()

[('Cancelled', 'Madrid', 30),
 ('Cancelled', 'NYC', 30),
 ('Cancelled', 'Brickhaven', 18),
 ('Cancelled', 'Paris', 18),
 ('Cancelled', 'Singapore', 18)]

In [ ]:
# Bottom five?

In [32]:
c.execute('''select status, city, count(city) as "count" 
            from orders 
            join customers 
            where status="Cancelled" 
            group by city 
            order by count(city) 
             limit 50''').fetchall()

[('Cancelled', 'Aachen', 6),
 ('Cancelled', 'Allentown', 6),
 ('Cancelled', 'Amsterdam', 6),
 ('Cancelled', 'Auckland', 6),
 ('Cancelled', 'Barcelona', 6),
 ('Cancelled', 'Bergamo', 6),
 ('Cancelled', 'Bergen', 6),
 ('Cancelled', 'Berlin', 6),
 ('Cancelled', 'Bern', 6),
 ('Cancelled', 'Brandenburg', 6),
 ('Cancelled', 'Bridgewater', 6),
 ('Cancelled', 'Brisbane', 6),
 ('Cancelled', 'Bruxelles', 6),
 ('Cancelled', 'Bräcke', 6),
 ('Cancelled', 'Burbank', 6),
 ('Cancelled', 'Burlingame', 6),
 ('Cancelled', 'Central Hong Kong', 6),
 ('Cancelled', 'Charleroi', 6),
 ('Cancelled', 'Chatswood', 6),
 ('Cancelled', 'Cork', 6),
 ('Cancelled', 'Cowes', 6),
 ('Cancelled', 'Cunewalde', 6),
 ('Cancelled', 'Dublin', 6),
 ('Cancelled', 'Espoo', 6),
 ('Cancelled', 'Fribourg', 6),
 ('Cancelled', 'Genève', 6),
 ('Cancelled', 'Glen Waverly', 6),
 ('Cancelled', 'Graz', 6),
 ('Cancelled', 'Hatfield', 6),
 ('Cancelled', 'Helsinki', 6),
 ('Cancelled', 'Herzlia', 6),
 ('Cancelled', 'Kita-ku', 6),
 ('Cancelled', 'Kobenhavn', 6),
 ('Cancelled', 'Köln', 6),
 ('Cancelled', 'Las Vegas', 6),
 ('Cancelled', 'Leipzig', 6),
 ('Cancelled', 'Lille', 6),
 ('Cancelled', 'Liverpool', 6),
 ('Cancelled', 'Los Angeles', 6),
 ('Cancelled', 'Luleå', 6),
 ('Cancelled', 'Lyon', 6),
 ('Cancelled', 'Makati City', 6),
 ('Cancelled', 'Manchester', 6),
 ('Cancelled', 'Mannheim', 6),
 ('Cancelled', 'Marseille', 6),
 ('Cancelled', 'Melbourne', 6),
 ('Cancelled', 'Milan', 6),
 ('Cancelled', 'Minato-ku', 6),
 ('Cancelled', 'Montréal', 6),
 ('Cancelled', 'Munich', 6)]

In [43]:
#Average number of cancelled orders per city?
c.execute('''select count(city) as count, city as city 
            from orders 
            join customers 
            where status="Cancelled" 
            group by city 
            order by count(city) desc''').fetchall()

[(30, 'Madrid'),
 (30, 'NYC'),
 (18, 'Brickhaven'),
 (18, 'Paris'),
 (18, 'Singapore'),
 (12, 'Auckland  '),
 (12, 'Boston'),
 (12, 'Cambridge'),
 (12, 'Frankfurt'),
 (12, 'Glendale'),
 (12, 'Lisboa'),
 (12, 'London'),
 (12, 'Nantes'),
 (12, 'New Bedford'),
 (12, 'New Haven'),
 (12, 'Philadelphia'),
 (12, 'San Francisco'),
 (6, 'Aachen'),
 (6, 'Allentown'),
 (6, 'Amsterdam'),
 (6, 'Auckland'),
 (6, 'Barcelona'),
 (6, 'Bergamo'),
 (6, 'Bergen'),
 (6, 'Berlin'),
 (6, 'Bern'),
 (6, 'Brandenburg'),
 (6, 'Bridgewater'),
 (6, 'Brisbane'),
 (6, 'Bruxelles'),
 (6, 'Bräcke'),
 (6, 'Burbank'),
 (6, 'Burlingame'),
 (6, 'Central Hong Kong'),
 (6, 'Charleroi'),
 (6, 'Chatswood'),
 (6, 'Cork'),
 (6, 'Cowes'),
 (6, 'Cunewalde'),
 (6, 'Dublin'),
 (6, 'Espoo'),
 (6, 'Fribourg'),
 (6, 'Genève'),
 (6, 'Glen Waverly'),
 (6, 'Graz'),
 (6, 'Hatfield'),
 (6, 'Helsinki'),
 (6, 'Herzlia'),
 (6, 'Kita-ku'),
 (6, 'Kobenhavn'),
 (6, 'Köln'),
 (6, 'Las Vegas'),
 (6, 'Leipzig'),
 (6, 'Lille'),
 (6, 'Liverpool'),
 (6, 'Los Angeles'),
 (6, 'Luleå'),
 (6, 'Lyon'),
 (6, 'Makati City'),
 (6, 'Manchester'),
 (6, 'Mannheim'),
 (6, 'Marseille'),
 (6, 'Melbourne'),
 (6, 'Milan'),
 (6, 'Minato-ku'),
 (6, 'Montréal'),
 (6, 'Munich'),
 (6, 'München'),
 (6, 'Münster'),
 (6, 'Nashua'),
 (6, 'Newark'),
 (6, 'North Sydney'),
 (6, 'Oslo'),
 (6, 'Oulu'),
 (6, 'Pasadena'),
 (6, 'Reggio Emilia'),
 (6, 'Reims'),
 (6, 'Saint Petersburg'),
 (6, 'Salzburg'),
 (6, 'San Diego'),
 (6, 'San Jose'),
 (6, 'San Rafael'),
 (6, 'Sevilla'),
 (6, 'South Brisbane'),
 (6, 'Stavern'),
 (6, 'Strasbourg'),
 (6, 'Stuttgart'),
 (6, 'Torino'),
 (6, 'Toulouse'),
 (6, 'Tsawassen'),
 (6, 'Vancouver'),
 (6, 'Versailles'),
 (6, 'Warszawa'),
 (6, 'Wellington'),
 (6, 'White Plains'),
 (6, 'Århus')]

In [48]:
c.execute('''select avg(a.count) from (select count(city) as count, city as city 
            from orders 
            join customers 
            where status="Cancelled" 
            group by city 
            order by count(city)) as a''').fetchall()

[(7.625,)]

In [ ]:
SELECT 
  AVG(`count`)
FROM
  (SELECT 
    COUNT(s_id) AS `count`
  FROM
    instructor,
    advisor 
  WHERE instructor.ID = advisor.i_id 
    AND dept_name = 'CIS' 
  GROUP BY dept_name) nested ;

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [52]:
c.execute('''select products.productName from
                products join orderdetails on orderdetails.productCode
                join orders on orders.orderNumber
                join customers on customers.customerNumber
                join employees
                ''').fetchall()

[]

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!